[user]
	name = Hans Trautlein
	email = hans@trautlein.com
	signingkey = 0111E5048E877DFF
[push]
	default = current
[core]
	editor = code --wait
	excludesfile = /Users/hans/.gitignore
[alias]
  c = commit --verbose
  ca = commit --verbose --all
  cm = commit --message
  r = rm
  l = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=short
  ll = log --graph --pretty=format:'%Cred%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  a = add
  aa = add --all
  d = diff
  dc = diff --cached
  ds = diff --stat
  dsc = diff --cached --stat
  dsc = diff --cached --stat
  files = diff --name-only
  s = status --short --branch
  co = checkout
  cob = checkout -b
  b = branch
	cd = icdiff
  pl = pull
  plr = pull --rebase
  recent = "! git reflog | egrep -io \"moving from ([^[:space:]]+)\" | awk '{ print $3 }' | awk ' !x[$0]++' | egrep -v '^[a-f0-9]{40}$' | head -n5"
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = gpg
[commit]
	gpgsign = true
[diff]
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $:REMOTE

